@model IEnumerable<EmployeeManagementPlatform.Models.Projects>

@{
    ViewBag.Title = "ListProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My projects</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
    </tr>
}

</table>
